/*
    Iridium: A responsive HTML5 website template by HTML5Templates.com
    Released for free under the Creative Commons Attribution 3.0 license (html5templates.com/license)
    Visit http://html5templates.com for more great templates or follow us on Twitter @HTML5T
*/

/*********************************************************************************/
/* Global                                                                        */
/*********************************************************************************/

/* Basic */

body {
  background: #FFFFFF;
  font-family: 'Yanone Kaffeesatz';
  font-size: 13.5pt;
  line-height: 1.75em;
  color: #4c4c4c;
}

h1 {
  font-family: 'Lobster Two', cursive;
}

h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
  font-weight: 300;
}

h2, h3, h4 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 300;
  color: #1d1d1d;
}

h2, h3 {
  font-size: 2em;
  letter-spacing: -1px;
  margin: 0 0 0.75em 0;
}

strong {
  font-weight: 700;
  color: #1d1d1d;
}

a {
  color: #478903;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 0px;
}


/* Reusable Buttons */

.button {
  display: inline-block;
  outline: 0;
  white-space: nowrap;
  padding: 2px 20px;
  background: #A4C1DD;
  box-shadow: inset 0px 0px 0px 1px #192364, 0px 2px 3px 0px rgba(0,0,0,0.25);
  border: solid 1px #102D5F;
  border-radius: 6px;
  background-image: -moz-linear-gradient(top, #A4C1DD, #1D57A0);
  background-image: -webkit-linear-gradient(top, #A4C1DD, #1D57A0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A4C1DD), to(#1D57A0));
  background-image: -ms-linear-gradient(top, #A4C1DD, #1D57A0);
  background-image: -o-linear-gradient(top, #A4C1DD, #1D57A0);
  background-image: linear-gradient(top, #A4C1DD, #1D57A0);
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
  font-size: 12pt;
  color: #FFFFFF;
  height:30px;
  font-family: 'Yanone Kaffeesatz';
  font-size: 13.5pt;
}
.button-delete {
  display: inline-block;
  outline: 0;
  white-space: nowrap;
  padding: 2px 20px;
  background: #A4C1DD;
  box-shadow: inset 0px 0px 0px 1px #000, 0px 2px 3px 0px
    rgba(0, 0, 0, 0.25);
  border: solid 1px #102D5F;
  border-radius: 6px;
  background-image: -moz-linear-gradient(top, #B6535B, #4B383A);
  background-image: -webkit-linear-gradient(top, #B6535B, #4B383A);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B6535B),
    to(#4B383A));
  background-image: -ms-linear-gradient(top, #B6535B, #4B383A);
  background-image: -o-linear-gradient(top, #B6535B, #4B383A);
  background-image: linear-gradient(top, #B6535B, #4B383A);
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  font-size: 12pt;
  color: #FFFFFF;
  height: 30px;
  font-family: 'Yanone Kaffeesatz';
  font-size: 13.5pt;
}

/* Button mouseover Activity */
.mouseover {
  background: #E55234;
  box-shadow: inset 0px 0px 0px 1px #F5AC97, 0px 2px 3px 0px rgba(0,0,0,0.25);
  border: solid 1px #B72204;
  border-radius: 6px;
  background-image: -moz-linear-gradient(top, #B41D08, #EB6541);
  background-image: -webkit-linear-gradient(top, #B41D08, #EB6541);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B41D08), to(#EB6541));
  background-image: -ms-linear-gradient(top, #B41D08, #EB6541);
  background-image: -o-linear-gradient(top, #B41D08, #EB6541);
  background-image: linear-gradient(top, #B41D08, #EB6541);
}

/* Wrappers */

#wrapper {
  overflow: hidden;
}

#main-wrapper {
  background: #fff;
}

#main-content {
  overflow: hidden;
  padding: 5px 0px;
}

#header-wrapper {
  position: relative;
  background: url(images/divider1-bg.png) repeat-x left bottom;
}

#footer-wrapper {
  overflow: hidden;
  padding: 50px 0px;
  background: url(images/banner-wrapper-bg.png) repeat;
}

#footer-wrapper a img {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
#marketing-wrapper {
  overflow: hidden;
  padding: 50px 0px;
  background: url(images/marketing-bg.png) repeat;
}

.divider1 {
  overflow: hidden;
  height: 10px;
  background: url(images/divider1-bg.png) repeat-x left top;
}

.divider2 {
  overflow: hidden;
  height: 11px;
  background: url(images/divider2-bg.png) repeat-x left top;
}

.divider3 {
  overflow: hidden;
  height: 5px;
  background: url(images/divider3-bg.png) repeat-x left top;
}

#copyright {
  overflow: hidden;
  padding: 10px 0px;
  background: url(images/copyright-bg.png) repeat;
}

#copyright,#copyright-text {
  letter-spacing:2px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  color: #E2CECE;
}


/* List style */

.list-style1 {
  margin: 0px;
  padding: 0px;
}

.list-style1 li {
  padding: 7px 0px 7px 0px;
  background: url(images/link-style1-divider.png) repeat-x left top;
}

.list-style1 .first {
  padding-top: 0px;
  background: none;
}

.list-style1 a {
  text-decoration: none;
  color: #585858;
}

.list-style1 a:hover {
  text-decoration: underline;
}

#marketing-wrapper h2 {
  padding: 0px 0px 15px 0px;
  font-weight: 300;
  color: #FFFFFF;
}

#marketing-wrapper a img {
  width: 100%;
  display: block;
}

/* Banner */

#banner-wrapper {
  overflow: hidden;
  padding: 30px 0px 10px 0px;
  background: url(images/banner-wrapper-bg.png) repeat;
}

#banner {
  overflow: hidden;
  padding: 10px 10px 10px 10px;
  background-color: #FAFAFA;
  border: 1px solid #E1E1E1;
}
#banner a img {
  width: 100%;
  display: block;
}

.shadow a img {
  width: 100%;
  display: block;
}
/* List style */

.list-style2 {
}

.list-style2 li {
  padding: 20px 0px 20px 0px;
  border-top: 1px dashed #ECECEC;
  line-height: 1;
}

.list-style2 img {
  float: left;
  margin-right: 20px;
}

.list-style2 p {
}

.list-style2 .posted {
  padding: 0px 0px 0px 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 8pt;
  color: #A2A2A2;
}

.list-style2 .first {
  padding-top: 0px;
  border-top: none;
}

