/*
	Iridium: A responsive HTML5 website template by HTML5Templates.com
	Released for free under the Creative Commons Attribution 3.0 license (html5templates.com/license)
	Visit http://html5templates.com for more great templates or follow us on Twitter @HTML5T
*/

/*********************************************************************************/
/* Mobile (<= 480px)                                                             */
/*********************************************************************************/

body, input, textarea, select {
}

/* Header */

#header {
	display: none;
}

/* MobileUI */

#mobileUI-site-titlebar {
	background: #FFFFFF url(images/divider1-bg.png) repeat-x left bottom;
	color: #000000;
}

#mobileUI-site-title {
	margin-top: -4px;
	font-family: sans-serif;
	font-size: 1em;
}

#mobileUI-site-nav-opener {
	color: #fff;
	background: #000000 url(images/marketing-bg.png);
	text-shadow: -2px -2px 1px rgba(0,0,0,1);
	width: 40px;
	height: 24px;
	top: 5px;
	left: 5px;
	line-height: 19px;
	font-size: 1.5em;
}

#mobileUI-site-nav-opener:active {
}

#mobileUI-site-nav {
	background: #000000 url(images/marketing-bg.png) repeat;
	text-shadow: -1px -1px 1px rgba(0,0,0,1);
}

#mobileUI-site-nav nav {
	margin-right: 1px;
}

#mobileUI-site-nav nav a {
	margin-bottom: 1px;
	padding : 0.5em 1.5em 0.5em 1.5em;
	background: url(images/link-style1-divider.png) repeat-x left top;
	line-height: 2em;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Yanone Kaffeesatz';
	font-size: 1.05em;
	font-weight: 200;
	color: #FFFFFF;
}

#mobileUI-site-nav nav a:first-child {
	border-top: 0;
}

#mobileUI-site-nav nav a:last-child {
	border-bottom: 0;
}

#copyright {
	overflow: hidden;
	padding: 50px 20px;
	background: url(images/copyright-bg.png) repeat;
}

#copyright p {
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1em;
}

/* Banner */

#banner-wrapper {
	padding: 30px 20px 0px 20px;
}

#main-content {
	padding: 20px 20px 50px 20px;
}

#main-content h2 {
	padding: 35px 0px 0px 0px;
}

#marketing-wrapper {
	padding: 20px 20px 50px 20px;
}

#marketing-wrapper h2 {
	padding: 35px 0px 0px 0px;
	font-weight: 300;
	color: #FFFFFF;
}

#footer-wrapper {
	padding: 20px 20px 50px 20px;
}


#footer-wrapper h2 {
	padding: 35px 0px 0px 0px;
	font-weight: 300;
}









