.demo_wrapper {
	-webkit-right-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

 .skin7.top .tabs_header {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
 .skin7.top .tab_header_item {
	float: left;
	margin: 0px;
}
 .skin7.top .tab_content {
	clear: left;
	display: none;
	padding: 5px 30px;
}

/* skin */

 .skin7.top.tabs_wrapper {
/*	border: 1px solid #ccc; */
}

 .skin7.top .tabs_header {
	overflow: hidden;
	padding-top: 0px;
	padding-left: 20px;
	position: relative;
	top: 1px;
}
 .skin7.top .tab_header_item {
	background: url(/img/tabs_header_top.png) repeat-x;
	margin-right: 2px;
	-webkit-border-top-right-radius: 9px;
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topright: 9px;
	-moz-border-radius-topleft: 9px;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
	border: 1px solid #ddd;
	height: 30px;
}
 .skin7.top .tab_header_item.tab_selected {
	background: #fff;
	border-bottom: none;
	height: 31px;
}
 .skin7.top .tab_header_item.tab_selected a {
	color: #cd0000;
}
 .skin7.top .tab_header_item.first_tab {
	border-left: 1px solid #ccc;
}
 .skin7.top .tab_header_item a {
	padding: 0px 20px;
	font: bold 12px Arial, Helvetica, sans-serif;
	line-height: 30px;
	color: #333;
	text-decoration: none;
	outline: 0;
}
 .skin7.top .content_holder {
	font: 12px/24px Arial, Helvetica, sans-serif;
	color: #777;
	padding: 5px;
	border: 1px solid #ddd;
}



